/* Style the header */
.headerbox {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background: none;
  color: #88ff88;
  height: 20;
  position: absolute;
  top: 0;
  left: 0;
}

.header {
  display: block;
  margin-left: auto;
  margin-right: 0;
  width:450px;
  height: 50px;
  background-color: #171717;
  color: #ddffff;
}


li {
  display: inline-block;
  /* You can also add some margins here to make it look prettier */
  zoom:1;
  *display:inline;
  color:#DDD;
  /* this fix is needed for IE7- */
}
li a {
  color:#DDD;
}
li:hover {
  background:#E24143;
}
